.ContactoGrids{
    background-color: $main-color;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .TituloContacto{
        text-align: center;
    }

    img{
        margin: 60px;
    }

    input{
        width: 100%;
        height: 100%;
        color: #653d3d;
        border: none;
        background: none;
        border-bottom: 1px solid #653d3d;
        margin: 16px 0px 16px 0px;
    }
        textarea{
            width: 100%;
            height: 150px;
            margin: 10px 0px 10px 0px;
            h2{
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
            }
        }
}

.form{
    margin: 20px;
}


.BotonTiendaCentrar{
    display: flex;
    justify-content: center;
    background-color: $main-color;
    color: #653d3d;
}

p{
    color: #653d3d;
}

h1{
    color:#653d3d;
}