footer{
    background-color: $main-color;

    p{
        color: #653d3d;
    }

    h5{
        color: #653d3d;;
    }

    h6{
        color: #653d3d;
    }
    
    .FooterDivs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 0 auto;

        .mapa{
            display: grid;
            text-align: center;
            align-content: center;

            .ubicacion{
                width:100%;
                align-items: center;
                text-align: center;
                margin: 0 auto;
                margin-top: 32px;
            }
        }
    }
}

.divredes{
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;

    .ImgRedes{
        display: flex;
        justify-content: center;
        padding: 5px;
        gap: 15px;

        
    }
}

.newsletter{
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;

        .NewsletterInput{
            height: 38px;
    }
}

.desarrollado{
    display: flex;
    justify-content: center;
    padding: 16px;
}