.GrillaVideos{
    width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .video{
        display: grid;
        justify-content: center;
        width: auto;
        margin: 0 auto;
    }

}

.TituloVideo{
    text-align: center;
    padding: 10px;

}

.TituloSectionVideos{
    text-align: center;
    padding: 16px;
    color: #653d3d;
}