$main-color: #eeead8;

nav{

    background-color: $main-color;

    .d-flex .btn .btn-outline-success{
        padding-right: 16px;
    }

    .NavLogo{
        display: flex;
        justify-content: flex-start;
        padding: 20px 0px 16px 16px;
        width: 120px;

        ul{
            display: flex;
            padding: 16px;  
            justify-content: flex-end;
            list-style: none;
        
            a{
                text-decoration: none;
                color: #653d3d;
            }
        }
        
    }
}
