* {
  font-family: 'Montserrat Alternates', sans-serif; }

nav {
  background-color: #eeead8; }
  nav .d-flex .btn .btn-outline-success {
    padding-right: 16px; }
  nav .NavLogo {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 16px 16px;
    width: 120px; }
    nav .NavLogo ul {
      display: flex;
      padding: 16px;
      justify-content: flex-end;
      list-style: none; }
      nav .NavLogo ul a {
        text-decoration: none;
        color: #653d3d; }

footer {
  background-color: #eeead8; }
  footer p {
    color: #653d3d; }
  footer h5 {
    color: #653d3d; }
  footer h6 {
    color: #653d3d; }
  footer .FooterDivs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; }
    footer .FooterDivs .mapa {
      display: grid;
      text-align: center;
      align-content: center; }
      footer .FooterDivs .mapa .ubicacion {
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0 auto; }

.divredes {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center; }
  .divredes .ImgRedes {
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 15px; }

.newsletter {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center; }
  .newsletter .NewsletterInput {
    height: 38px; }

.desarrollado {
  display: flex;
  justify-content: center;
  padding: 16px; }

.ContactoGrids {
  background-color: #eeead8;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .ContactoGrids .TituloContacto {
    text-align: center; }
  .ContactoGrids img {
    margin: 60px; }
  .ContactoGrids input {
    width: 100%;
    height: 100%;
    color: #653d3d;
    border: none;
    background: none;
    border-bottom: 1px solid #653d3d;
    margin: 16px 0px 16px 0px; }
  .ContactoGrids textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0px 10px 0px; }
    .ContactoGrids textarea h2 {
      display: flex;
      justify-content: center;
      padding-bottom: 20px; }

.form {
  margin: 20px; }

.BotonTiendaCentrar {
  display: flex;
  justify-content: center;
  background-color: #eeead8;
  color: #653d3d; }

p {
  color: #653d3d; }

h1 {
  color: #653d3d; }

main {
  background-color: #eeead8; }
  main .TituloTienda {
    text-align: center; }
  main h4 {
    color: #653d3d; }
  main h3 {
    color: #653d3d; }

.ContenedorCards {
  background-color: #eeead8;
  padding-top: 20px;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  transition: all 500ms ease; }
  .ContenedorCards .card {
    border-radius: 5px;
    border: 1px solid #653d3d;
    padding-bottom: 5px;
    background-color: #eeead8; }
    .ContenedorCards .card a {
      text-decoration: none;
      color: #653d3d; }
    .ContenedorCards .card a:hover {
      color: #ffffff; }
    .ContenedorCards .card .CardImage {
      height: 200px;
      background-size: cover;
      background-position: center;
      transition: all 0.5s ease;
      transition: all 500ms ease; }

.Titulos, .PrecioImagenesTienda {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-weight: bold; }

.PrecioImagenesTienda {
  padding: 5px; }

.CardImage:hover {
  transform: scale(1.1); }

.TextoImagenesTienda-papeles {
  color: #653d3d; }

.TextoImagenesTienda-tijeras {
  color: black; }

.TextoImagenesTienda-papeles2 {
  color: #653d3d; }

.TextoImagenesTienda-papeles3 {
  color: #653d3d; }

.TextoImagenesTienda-kit {
  color: black; }

.TextoImagenesTienda-papeles4 {
  color: #653d3d; }

.GrillaProducto {
  background-color: #eeead8;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .GrillaProducto .ImagenProducto img {
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 16px; }
  .GrillaProducto .TextoProducto {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px; }
    .GrillaProducto .TextoProducto .breadcrumb-item a {
      color: #653d3d;
      text-decoration: none; }
    .GrillaProducto .TextoProducto .form-select {
      width: 175px;
      margin-bottom: 16px; }
  .GrillaProducto p {
    size: 50px; }

.HistoriaOrigami1 {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .HistoriaOrigami1 .Origami1 {
    height: 250px;
    border-radius: 10px;
    margin: 5px; }
  .HistoriaOrigami1 .Origami2 {
    height: 250px;
    border-radius: 10px;
    margin: 5px; }
  .HistoriaOrigami1 .Origami3 {
    height: 250px;
    border-radius: 10px;
    margin: 5px; }

.TituloHistoria {
  display: flex;
  justify-content: center;
  padding: 16px; }

.HistoriaOrigami2 div {
  max-width: 1200px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 16px 0px 0px 60px; }

.GrillaVideos {
  width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .GrillaVideos .video {
    display: grid;
    justify-content: center;
    width: auto;
    margin: 0 auto; }

.TituloVideo {
  text-align: center;
  padding: 10px; }

.TituloSectionVideos {
  text-align: center;
  padding: 16px;
  color: #653d3d; }

@media (max-width: 1200px) {
  .ContenedorCards {
    grid-template-columns: 1fr 1fr;
    margin: 16px 16px 0px 16px; } }

@media (max-width: 800px) {
  .ContenedorCards {
    grid-template-columns: 1fr;
    margin: 16px 16px 0px 16px; } }

@media (max-width: 1200px) {
  .GrillaProducto {
    grid-template-columns: 1fr; }
    .GrillaProducto .ImagenProducto img {
      display: flex;
      justify-content: flex-start;
      padding-left: 16px; } }

@media (max-width: 800px) {
  .GrillaProducto {
    grid-template-columns: 1fr; }
    .GrillaProducto .ImagenProducto img {
      height: 400px;
      display: flex;
      justify-content: flex-start;
      padding-left: 16px; } }

@media (max-width: 768px) {
  .GrillaProducto {
    grid-template-columns: 1fr; }
    .GrillaProducto .ImagenProducto img {
      height: 250px;
      display: flex;
      justify-content: flex-start;
      padding-left: 16px; } }

@media (max-width: 1350px) {
  main .GrillaVideos {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 800px) {
  main .GrillaVideos {
    grid-template-columns: 1fr; } }

@media (max-width: 1200px) {
  .HistoriaOrigami1 .Origami1 {
    display: none; }
  .HistoriaOrigami2 {
    margin-right: 55px; } }

@media (max-width: 800px) {
  .HistoriaOrigami1 .Origami1 {
    display: none; }
  .HistoriaOrigami1 .Origami2 {
    display: none; }
  .TituloHistoria {
    display: flex;
    justify-content: center; }
  .HistoriaOrigami2 {
    margin-right: 55px; } }

@media (max-width: 1200px) {
  .ContactoGrids img {
    display: none; }
  .ContactoGrids {
    grid-template-columns: 1fr;
    padding: 16px;
    justify-content: center; }
    .ContactoGrids .form {
      margin: 20px;
      padding: 20px; } }

@media (max-width: 1200px) {
  footer .FooterDivs {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 1000px) {
  footer .FooterDivs {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 768px) {
  footer .FooterDivs {
    grid-template-columns: 1fr; } }

@media (max-width: 300px) {
  .NewsletterInput {
    height: 28px; } }
